:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;

  font-synthesis: none;
  text-align: center;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: block;
  place-items: center;
  justify-content: center;

  min-width: 320px;
  min-height: 100vh;
}

h1 {
  margin: 0;
  padding: 20px;
  line-height: 1.1;
  color: #074277;
  background-color: white;
}

table {
  /* display: flex; */
  width: 100%;
  /* gap: 20%; */
  background-color: white;
  justify-content: center;
  align-items: center;
}

button {
  border-radius: 8px;
  margin: 5px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #733807;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  button {
    background-color: orange;
  }
}
